body {
  background: #d5fafb;
  margin: 0;
}

nav {
  margin: 0;
  padding: 0;
  background-color: #00BEAE;
}

nav:after {
  content: '';
  display: table;
  clear: both;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  display: inline-block;
  position: relative;
}

nav ul li.search-icon {
  position: relative;
  float: right;
  top: 26px;
}

nav ul li.search-icon a {
  background-image: url("../img/search-icon.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 18px;
  height: 18px;
}

nav ul li.search-icon a:hover {
  background-color: inherit;
}

nav ul li a:hover {
  background-color: #333;
}

nav a, span.site-title {
  display: block;
  padding: 0 20px;
  color: #FFF;
  font-size: 20px;
  line-height: 70px;
  text-decoration: none;
  transition: 0.3s;
  position: relative;
  z-index: 5;
}

span.site-title {
  background-image: url("../img/Ellipse-1.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 50px;
  /* width of the image plus a little extra padding */
  margin-left: 10px;
}

/* ------------ Second level menu ------------ */
/*nav ul ul {}*/
/*Selector for all sub-menus*/
div.container {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 70px;
  z-index: 3;
}

/* ------------ Desktop sub menu ------------ */
div.submenu-desktop {
  background: #ffffff;
}

div.submenu-desktop ul {
  display: inline-block;
  top: 70px;
  padding-top: 20px;
}

div.submenu-desktop ul li {
  display: block;
  min-width: 200px;
  float: none;
  margin-left: 30px;
}

div.submenu-desktop ul li a {
  color: black;
  line-height: 50px;
}

div.submenu-desktop ul li a:hover {
  background-color: #ECECEC;
}

div.submenu-desktop ul li:first-child {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 20px;
  font-weight: bold;
}

div.submenu-desktop ul li:last-child {
  padding-top: 25px;
  margin-bottom: 55px;
  font-size: 20px;
  font-weight: bold;
}

div.submenu-desktop ul li:last-child a {
  color: #00BEAE;
}

div.submenu-desktop ul li:last-child a:hover {
  background-color: inherit;
  color: #005f57;
}

div.submenu-desktop ul:first-child {
  margin-left: 130px;
}

/* ------------ END Desktop sub menu ------------ */
/* ------------ Mobile sub menu ------------ */
div.submenu-mobile {
  background-color: #ECECEC;
}

div.submenu-mobile ul {
  display: block;
  top: 70px;
  padding-top: 20px;
}

div.submenu-mobile ul li {
  display: block;
  float: none;
  margin-left: 0px;
  font-weight: bold;
}

div.submenu-mobile ul li a {
  color: black;
  line-height: 50px;
}

div.submenu-mobile ul li a:hover {
  background-color: #ffffff;
}

div.submenu-mobile ul li ul li a {
  font-weight: normal;
  padding-left: 60px;
}

/* ------------ END Mobile sub menu ------------ */
div.selection {
  position: absolute;
  z-index: 4;
  top: 4px;
  height: 100%;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.12);
  display: none;
}

/* ------------ END Second level menu ------------ */
li > a:after {
  content: ' +';
}

li > a:only-child:after {
  content: '';
}

div.visible-desktop {
  display: inherit;
}

ul li.menu-icon, .mobile {
  display: none;
}

/* ------------- Media Queries -------------- */
@media screen and (max-width: 680px) {
  ul li:not(:first-child), ul .container {
    display: none;
  }
  ul li.menu-icon, ul li.search-icon, .mobile {
    display: inline-block;
    float: right;
  }
  li > a:after {
    content: '';
  }
}

/* ------------- END Media Queries -------------- */
/* ------------- Mobile Version -------------- */
div.visible-mobile {
  display: inherit;
}

/* ------------- END Mobile Version -------------- */
