body {
  background: #d5fafb;
  margin: 0;
}

nav {
  margin: 0;
  padding: 0;
  background-color: #00BEAE;
}

nav:after {
  content: '';
  display: table;
  clear: both;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: realtive;
}

nav ul li {
  float: left;
  display: inline-block;
}

nav ul li.search-icon {
  position: relative;
  float: right;
  top: 26px;
}

nav ul li.search-icon a {
  background-image: url("../img/search-icon.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 18px;
  height: 18px;
}

nav ul li.search-icon a:hover {
  background-color: inherit;
}

nav ul li a:hover {
  background-color: #333;
}

nav a, nav span {
  display: block;
  padding: 0 20px;
  color: #FFF;
  font-size: 20px;
  line-height: 70px;
  text-decoration: none;
  transition: 0.3s;
}

.site-title {
  background-image: url("../img/Ellipse-1.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 50px;
  /* width of the image plus a little extra padding */
  margin-left: 10px;
}

/* ------------ Second level menu ------------ */
nav ul ul {
  display: inline-block;
  top: 70px;
  padding-top: 20px;
}

div.container {
  background: rgba(0, 0, 0, 0.1);
  display: none;
  position: absolute;
  top: 70px;
}

nav ul ul li {
  display: block;
  width: 270px;
  float: none;
}

nav ul ul a {
  color: black;
}

nav ul ul li a:hover {
  background-color: #ECECEC;
}

/* ------------ Second level menu END ------------ */
div.container-visible {
  display: inherit;
}

li > a:after {
  content: ' +';
}

li > a:only-child:after {
  content: '';
}

ul li.menu-icon {
  display: none;
}

/* ------------- Media Queries -------------- */
@media screen and (max-width: 680px) {
  ul li:not(:first-child) {
    display: none;
  }
  ul li.menu-icon, ul li.search-icon {
    display: inline-block;
    float: right;
  }
  li > a:after {
    content: '';
  }
}

/* ------------- END Media Queries -------------- */
/* ------------- Mobile Version -------------- */
ul.topnav.responsive li a {
  text-align: left;
}

ul.topnav.responsive li.menu-icon, ul.topnav.responsive li.search-icon {
  /*position: absolute;*/
  float: right;
}

ul.topnav.responsive li.menu-icon {
  right: 0;
  top: 0;
}

ul.topnav.responsive li.menu-icon a {
  width: 18px;
}

ul.topnav.responsive li.menu-icon .container {
  display: block;
}

ul.topnav.responsive li.search-icon {
  top: 26px;
}

/* ------------- END Mobile Version -------------- */
