$menu-hight: 60px;

body {margin:0;}

nav {
	margin: 0;
	padding: 0;
	background-color: #00BEAE;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: realtive;
}

nav ul li {
	float: left;
	display: inline-block;
}

nav ul li.search-icon {
	float: right;
}

nav ul li a:hover {
	background-color: #333;
}

nav ul li a:hover {
	background-color: #333;
}

nav ul li.search-icon a:hover {
	background-color: inherit;
}

nav a, nav span {
	display: block;
	padding: 0 20px;
	color: #FFF;
	font-size: 20px;
	line-height: $menu-hight;
	text-decoration: none;
	transition: 0.3s;
}

.site-title {
	background-image: url('../img/Ellipse-1.png') ;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 50px;  /* width of the image plus a little extra padding */
	margin-left: 10px;
}

/* ------------ Second level menu ------------ */

nav ul ul {
  display: inline-block;
  position: absolute;
  top: $menu-hight;
}

nav ul ul li {
	display: block;
  width: 170px;
  float: none;
}

nav ul ul a {
	color: black;
}

nav ul ul li a:hover {
	background-color: #ECECEC;
}

/* ------------ Second level menu END ------------ */

nav ul li:hover > ul { display: inherit; }

li > a:after {
    content: ' +';
}

li > a:only-child:after {
	content: '';
}

ul li.menu-icon {display: none;}

@media screen and (max-width:680px) {
	ul li:not(:first-child) {
		display: none;
	}
	
	ul li.menu-icon, ul li.search-icon {
		display: inline-block;
		float: right;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.menu-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}