$menu-height: 70px;
$brand-color: #00BEAE;

body {
	background: #d5fafb; 
	margin:0;
}

nav {
	margin: 0;
	padding: 0;
	background-color: $brand-color;

	&:after { 
		content: '';
		display: table;
		clear: both;
	}
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			float: left;
			display: inline-block;
			position: relative;
		}
	}
	
}

nav ul li.search-icon {
	position: relative;
	float: right;
	top: (($menu-height)-18px)/2;
	
	a {
		background-image: url('../img/search-icon.png') ;
		background-repeat: no-repeat;
		background-position: bottom center;
		width: 18px;
		height: 18px;
		
		&:hover {
			background-color: inherit;
		}
	}
}

nav ul li a:hover {
	background-color: #333;
}

nav a, span.site-title {
	display: block;
	padding: 0 20px;
	color: #FFF;
	font-size: 20px;
	line-height: $menu-height;
	text-decoration: none;
	transition: 0.3s;
	position: relative;
	z-index: 5;
}

span.site-title {
	background-image: url('../img/Ellipse-1.png') ;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 50px;  /* width of the image plus a little extra padding */
	margin-left: 10px;
}

/* ------------ Second level menu ------------ */

/*nav ul ul {}*/ /*Selector for all sub-menus*/

div.container {
	
	background: #ffffff;
	display: none;
	position: absolute;
	width: 100%;
	left: 0;
	top: ($menu-height);
	z-index: 3;
	
	ul {
		display: inline-block;
		top: $menu-height;
		padding-top: 20px;
		
		li {
			display: block;
			width: 270px;
			float: none;
			margin-left: 50px;
			
			a {
				color: black;
				line-height: 50px;
				
				&:hover {
					background-color: #ECECEC;
				}
			}
			
			&:first-child {
				padding-top: 25px;
				padding-bottom: 25px;
				font-size: 20px;
				font-weight: bold;
			}
			
			&:last-child {
				padding-top: 25px;
				margin-bottom: 55px;
				font-size: 20px;
				font-weight: bold;
				
				a {
					color: $brand-color;
					
					&:hover {
						background-color: inherit;
						color: ($brand-color) / 2;
					}
				}
			}
		}
		
		&:first-child {
			margin-left: 130px;
		}
		
	}
	
}

div.selection {
	position: absolute;
	z-index: 4;
	top: 4px;
	height: 100%;
	width: 100%;
	background-color: rgba(51, 51, 51, 0.12);
	display: none;
}

/* ------------ END Second level menu ------------ */



div.container-visible { display: inherit; }

li > a:after {
    content: ' +';
}

li > a:only-child:after {
	content: '';
}

ul li.menu-icon {display: none;}

/* ------------- Media Queries -------------- */

@media screen and (max-width:680px) {
	ul li:not(:first-child), ul .container {
		display: none;
	}
	
	
	ul li.menu-icon, ul li.search-icon {
		display: inline-block;
		float: right;
	}
	
	li > a:after {
		content: '';
	}
}

/* ------------- END Media Queries -------------- */

/* ------------- Mobile Version -------------- */

  ul.topnav.responsive {
	  
	li {
		
		a {
			text-align: left;
		}
		
	}
	  
	li.menu-icon, li.search-icon {
		/*position: absolute;*/
		float: right;
	  }
	
	li.menu-icon {
		
		right: 0;
		top: 0;
		
		a {
			width: 18px;
		}
		
		.container {
			display: block;
		}
	}
	
	
	  
	li.search-icon {
		top: (($menu-height)-18px)/2;
	}

	
  }
  
/* ------------- END Mobile Version -------------- */